.nav {
    &-link {
        &_top {
            color: $text_primary;
            font-size: 14px;
            padding: 5px 9px;
            &:hover {
                color: $brand;
            }
            &:focus {
                color: $brand;
            }
        }
        &__icon {
            width: 15px;
        }
        &_bottom {
            color: $text_primary;
            font-size: 14px;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 6px;
            &:hover, &:focus {
                color: $brand;
            }
        }
    }
}

.dropdown {
    &-toggle {
        &_top {
            display: flex;
            align-items: center;
            gap: 4px;
            &::after {
                display: none;
            }
            &:focus {
                color: $text_primary;
            }
            &.show {
                color: $brand;
                .dropdown-toggle__icon {
                    transform: rotate(-180deg);
                }
            } 
        }
        &_currency {
            padding: 5px 12px;
            border-radius: 8px;
            background: $background_grey_dark;
            border: none;
            display: flex;
            align-items: center;
            gap: 8px;
            &::after {
                display: none;
            }
            &.show {
                .dropdown-toggle__icon {
                    transform: rotate(-180deg);
                }
            }
        }
        &__flex {
            color: $text_primary;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 4px;
            span {
                margin-top: 2px;
            }
        }
    }
    &-menu {
        &_top {
            width: 180px;
            border-radius: 8px;
            background: $white;
            @include box-shadow;
            border: none;
            padding: 14px;         
        }
        &_currency {
            width: 390px;
            border-radius: 18px;
            background: $white;
            @include box-shadow;
            border: none;
            padding: 24px;
        }
        &__current {
            color: $text_grey;
            font-size: 14px;
        }
        &__course {
            font-weight: 700;
            margin-top: 2px;
        }
        &__description {
            color: $text_secondary;
            margin-top: 16px;
        }
        &__commission {
            color: $text_grey;
            font-size: 14px;
            margin-top: 6px;
        }
        &__more {
            font-weight: 600;
            text-decoration: none;
            display: inline-block;
            margin-top: 16px;
        }
    }
    &-item {
        &_top {
            color: $text_primary;
            font-size: 14px;
            padding: 6px;
            &:hover {
                color: $brand;
                background: none;
            }
            &:focus {
                color: $brand;
                background: none;
            }
        }
    }
}

.btn {
    &_primary {
        padding: 11px 48px;
        border-radius: 8px;
        background: $brand;
        color: $white;
        font-weight: 700;
        border-color: $brand;
        &:hover {
            background: $brand_hover;
            color: $white;
            border-color: $brand_hover;
        }
        &:active {
            background: $brand_active !important;
            color: $white !important;
            border-color: $brand_active !important;
        }
    }
    &_outline {
        padding: 11px 48px;
        border-radius: 8px;
        border: 1.5px solid $brand;
        color: $brand;
        font-weight: 700;
        &:hover {
            border-color: $brand_hover;
            color: $brand_hover;
        }
        &:active {
            border-color: $brand_active !important;
            color: $brand_active !important;
        }
    }
    &_icon {
        padding: 11px 24px;
        border-radius: 8px;
        background: $brand;
        color: $white;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        &:hover {
            background: $brand_hover;
            color: $white;
            border-color: $brand_hover;
        }
        &:active {
            background: $brand_active !important;
            color: $white !important;
            border-color: $brand_active !important;
        }
    }
    &_rounded {
        padding: 11px 24px;
        border-radius: 30px;
        border: 1.5px solid $brand;
        color: $brand;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        &:hover {
            border-color: $brand_hover;
            color: $brand_hover;
        }
        &:active {
            border-color: $brand_active !important;
            color: $brand_active !important;
        }
        span {
            color: rgba($brand, .5);
        }
    }
    &_tab {
        padding: 11px 24px;
        border-radius: 40px;
        background: $background_grey_light;
        color: $text_primary;
        font-weight: 700;
        border-color: $background_grey_light;
        &:hover {
            background: $background_grey_dark;
            color: $text_primary;
            border-color: $background_grey_dark;
        }
        &:active {
            background: $success !important;
            color: $white !important;
            border-color: $success !important;
        }
        &-active {
            background: $success !important;
            color: $white !important;
            border-color: $success !important;            
        }
    }
    &_search {
        padding: 11px 18px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        right: 0;
    }
    &-close {
        &_modal {
            font-size: 20px;
            color: $text_primary;
            opacity: 1;
            position: absolute;
            top: 24px;
            right: 24px;
            padding: 10px;
        }
    }
}

.form-control {
    &_input {
        padding: 13px 20px;
        border-radius: 8px;
        border: 1.5px solid $line;
        background: $white;
        color: $text_primary;
        font-size: 14px;
        box-shadow: none !important;
        &::placeholder {
            color: $text_grey;
        }
        &:hover {
            border-color: rgba($success, .5);
        }
        &:focus {
            border-color: $success;
        }
    }
    &_error {
        border-color: $error;
    }
    &_search {
        &:hover {
            border-color: rgba($brand, .3);
        }
        &:focus {
            border-color: rgba($brand, .5)
        }
    }
}

.form-text {
    &_error {
        color: $error;
    }
}

.modal {
    &-dialog {
        &_custom {
            max-width: 660px;
        }
    }
    &-content {
        &_custom {
            border-radius: 18px;
            background: $white;
        }        
    }
    &-body {
        &_custom {
            padding: 50px 60px;
        }
    }
}