.btn {
    padding: 11px 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    &-primary {
        background: $brand;
        color: $white;
        border-color: $brand;
        &:hover {
            background: $brand_hover;
            border-color: $brand_hover;
        }
        &:active {
            background: $brand_active !important;
            border-color: $brand_active !important;
        }
        &.rounded-pill {
            padding: 11px 24px;
            background: $background_grey_light;
            color: $text_primary;
            border-color: $background_grey_light;
            &:hover {
                background: $background_grey_dark;
                border-color: $background_grey_dark;
            }
            &:active, &.active {
                background: $success !important;
                border-color: $success !important;
                color: $white;
            }
        }
    }
    &-outline-primary {
        border: 1.5px solid $brand;
        color: $brand;
        &:hover {
            border-color: $brand_hover;
            color: $brand_hover;
            background: none;
        }
        &:active {
            border-color: $brand_active !important;
            color: $brand_active !important;
            background: none !important;
        }
        &.rounded-pill {
            padding: 11px 24px;
            font-weight: 600;
            span {
                color: rgba($brand, .5);
            }
        }
    }
}

.form-control {
    padding: 13px;
    border-radius: 8px;
    border: 1.5px solid $line;
    background: $white;
    color: $text_primary;
    font-size: 14px;
    &::placeholder {
        color: $text_grey;
    }
    &:hover {
        border-color: rgba($success, .5);
    }
    &:focus {
        border-color: $success;
        box-shadow: none;
    }
    &.error {
        border-color: $error;
    }
}

.form-text {
    &.error {
        color: $error;
    }
}