$brand: #DB0053;
$brand_hover: #BA0047;
$brand_active: #99003C;
$text_primary: #1E1E1E;
$text_secondary: #303030;
$text_grey: #949494;
$background_grey_light: #F5F7F9;
$background_grey_dark: #E5EAEE;
$white: #FFFFFF;
$line: #E8E8E8;
$success: #41BBBB;
$error: #DE0923;
$orange: #DB8D3F;
$green: #07A34C;