* {
    font-family: 'Montserrat';
}

body {
    color: $dark;
}

a {
    color: $accent;
    &:hover {
        color: $accent_hover;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue';
}