@media (max-width: 1199.98px) {
    .prices {
        &__name {
            font-size: 22px;
        }
    }

    .block {
        &__title {
            font-size: 16px;
        }
        &__desc {
            font-size: 14px;
        }
        &__retail {
            font-size: 14px;
        }
        &__our {
            font-size: 14px;
        }
        &__accent {
            font-size: 20px;
        }
    }

    .feedback {
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 991.98px) {
    .navbar {
        &-toggler {
            &:focus {
                outline: none;
            }
        }
        &-nav {
            text-align: center;
            // .nav-item {
            //     &.active {
            //         .nav-link {
            //             &::before {
            //                 display: none;
            //             }
            //         }
            //     }
            // }
            .nav-link {
                &::after {
                    display: none;
                }
            }
        }
    }

    .display-4 {
        font-size: 42px;
    }

    .block {
        &__title {
            font-size: 20px;
        }
        &__desc {
            font-size: 16px;
        }
        &__retail {
            font-size: 16px;
        }
        &__our {
            font-size: 16px;
        }
        &__accent {
            font-size: 26px;
        }
    }

    .feedback {
        &__title {
            font-size: 16px;
        }
    }

    .logo {
        width: 140px;
    }

    .footer {
        &__tagline {
            font-size: 14px;
        }
    }

    .about {
        &__box {
            flex-direction: column;
        }
        &__icon {
            margin-right: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
        }
        &__title {
            text-align: center;
        }
    }

    .delivery {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__method {
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 767.98px) {
    .display-4 {
        font-size: 32px;
    }

    .title {
        h1, h2 {
            font-size: 28px;
        }
    }

    .btn {
        &_block {
            width: 222px;
        }
    }

    .block {
        &__img {
            display: block;
            margin: 0 auto;
            margin-bottom: 16px;
        }
    }

    .feedback {
        &__title {
            font-size: 20px;
        }
    }

    .delivery {
        &__icon {
            width: auto;
        }
        &__accent {
            width: auto;
        }
    }
}

@media (max-width: 575.98px) {
    .display-4 {
        font-size: 26px;
    }

    .lead {
        font-size: 18px;
    }

    .title {
        h1, h2 {
            font-size: 24px;
            &::before, &::after {
                display: none;
            }
        }
    }

    .prices {
        .text-center {
            .btn {
                background: none;
                border: none;
                padding: 0;
                color: $accent;
                text-decoration: underline;
            }
        }
    }

    .cooperation {
        &__line {
            &::before {
                display: none;
            }
        }
        &__box {
            margin-left: 0;
            flex-direction: column;
            margin-bottom: 48px;
            &::before {
                top: -24px;
                left: 50%;
                transform: translateX(-50%);
            }
            &::after {
                display: none;
            }
        }
        &__icon {
            margin-right: 0;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        &__title {
            font-size: 20px;
            text-align: center;
        }
    }

    .block {
        &__retail {
            font-size: 14px;
        }
        &__our {
            font-size: 14px;
        }
        &__accent {
            font-size: 24px;
        }
    }

    .nav-tabs {
        justify-content: flex-start;
    }

    .delivery {
        &__title {
            font-size: 22px;
            text-align: center;
        }
    }

    .accordion {
        .card-header {
            a {
                font-size: 18px;
            }
        }
    }

    .contacts {
        &__title {
            font-size: 20px;
        }
    }
}
