.advantages {
    padding: 80px 0 32px 0;
    &__item {
        margin-bottom: 48px;
    }
    &__icon {
        border: 2px solid $border;
        border-radius: 100%;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        i {
            font-size: 32px;
        }
    }
    &__text {
        text-align: center;
        span {
            color: $accent;
            font-weight: 600;
        }
    }
}