.advantages {
    padding: 64px 0 32px 0;
    &__item {
        text-align: center;
        margin-bottom: 32px;
    }
    &__icon {
        font-size: 32px;
        margin-bottom: 16px;
    }
    &__text {
        span {
            font-weight: bold;
        }
    }
}