.brands {
    padding: 64px 0;
    &__slider {
        margin-bottom: 32px;
    }
    &__slide {
        padding: 0 16px;
        img {
            width: 100%;
            max-width: 160px;
            margin: 0 auto;
        }
    }
    &__text {
        margin-bottom: 0;
        span {
            font-weight: bold;
        }
    }
}