.btn {
    text-decoration: none;
    border-color: $accent;
    border-radius: 2px;
    border-width: 2px;
    background-color: $accent;
    color: $light;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
        color: $light;
        background-color: $accent_hover;
        border-color: $accent_hover;
    }
    &:active {
        background-color: $accent_active;
        border-color: $accent_active;
    }
    &:focus {
        box-shadow: none;
    }
    &_outline {
        background: none;
        color: $accent;
        &:hover {
            color: $light;
            background-color: $accent;
            border-color: $accent;
        }
        &:active {
            color: $light;
            background-color: $accent_hover;
            border-color: $accent_hover;
        }
    }
    &_large {
        font-size: 26px;
        font-weight: 400;
    }
    &_intro {
        margin: 0 8px;
    }
}