.btn {
    font-weight: bold;
    border-color: $accent;
    border-width: 2px;
    border-radius: 0;
    padding: 8px 16px;
    background-color: $accent;
    color: $light;
    &:hover {
        border-color: $accent_hover;
        background-color: $accent_hover;
        color: $light;
    }
    &:active {
        border-color: $accent_active;
        background-color: $accent_active;
    }
    &:focus {
        box-shadow: none;
    }
    &_intro {
        width: 180px;
        margin: 0 8px;
    }
}