.cooperation {
    padding: 64px 0;
    &__line {
        position: relative;
        margin-bottom: 48px;
        &::before {
            content: '';
            display: block;
            width: 2px;
            height: 100%;
            border-left: 1px solid $border;
            position: absolute;
            left: 24px;
        }
    }
    &__box {
        border: 1px solid $border;
        border-radius: 2px;
        padding: 32px;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        margin-left: 80px;
        position: relative;
        &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $accent;
            font-size: 26px;
            font-weight: 300;
            width: 48px;
            height: 48px;
            border: 1px solid $border;
            border-radius: 100%;
            background-color: #ffffff;
            position: absolute;
            left: -80px;
        }
        &::after {
            content: '';
            display: block;
            width: 32px;
            height: 2px;
            border-top: 1px solid $border;
            position: absolute;
            left: -32px;
        }
        &_1 {
            &::before {
                content: '1';
            }
        }
        &_2 {
            &::before {
                content: '2';
            }
        }
        &_3 {
            &::before {
                content: '3';
            }
        }
        &_4 {
            &::before {
                content: '4';
            }
        }
    }
    &__icon {
        color: $accent;
        margin-right: 32px;
    }
    &__title {
        font-family: 'Comfortaa';
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 16px;
    }
    &__desc {
        margin-bottom: 0;
    }
}