.cooperation {
    padding: 80px 0;
    &__steps {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 2px;
            height: 100%;
            background-color: $accent;
            position: absolute;
            left: 25px;
        }
    }
    &__step {
        border: 2px solid $border;
        border-radius: 2px;
        padding: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 48px;
        margin-left: 80px;
        position: relative;
        &::before {
            display: block;
            width: 48px;
            height: 48px;
            background-color: $accent;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -80px;
            color: $light;
            font-size: 26px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_1 {
            &::before{
                content: '1';
            }
        }
        &_2 {
            &::before{
                content: '2';
            }
        }
        &_3 {
            &::before{
                content: '3';
            }
        }
        &_4 {
            &::before{
                content: '4';
            }
        }
    }
    &__title {
        font-family: 'Bebas Neue';
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    &__desc {
        margin-bottom: 0;
        span {
            font-weight: 500;
        }
    }
}