.delivery {
    padding: 128px 0 64px 0;
    &__box {
        border: 1px solid $border;
        border-radius: 2px;
        margin-bottom: 48px;
    }
    &__title {
        font-family: 'Comfortaa';
        font-weight: 300;
        font-size: 26px;
        padding: 16px;
        border-bottom: 1px solid $border;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }
    &__method {
        font-size: 20px;
        width: 40%;
        span {
            color: $accent;
            font-weight: 700;
        }
    }
    &__icon {
        width: 20%;
        i {
            color: $accent;
        }
    }
    &__accent {
        width: 20%;
        font-size: 20px;
        span {
            color: $accent;
            font-weight: 700;
        }
    }
    &__text {
        border-top: 1px solid $border;
        padding: 16px;
    }
}