.navbar {
    &-brand {
        img {
            width: 180px;
        }
    }
    &-nav {
        .nav-item {
            &.active {
                .nav-link {
                    color: $accent;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .nav-link {
            text-decoration: none;
            color: $dark;
            font-weight: 500;
            text-transform: uppercase;
            transition: all .25s;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: $accent;
                transition: all .25s;
            }
            &:hover {
                color: $accent;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}