.partners {
    padding: 80px 0 62px 0;
    &__slider {
        padding: 0 32px;
        .slick-chevron-left, .slick-chevron-right {
            border: none;
            padding: 0;
            background: none;
            color: $accent;
            font-size: 32px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            &:hover {
                color: $accent_hover;
            }
            &:focus {
                outline: none;
            }
        }
        .slick-chevron-left {
            left: 0;
        }
        .slick-chevron-right {
            right: 0;
        }
        .slick-slide {
            &:focus {
                outline: none;
            }
        }
    }
    &__slide {
        padding: 18px 16px;
        a {
            &:focus {
                outline: none;
            }
            img {
                @include block_shadow;
                border-radius: 4px;
                width: 100%;
                transition: all .25s;
                &:hover {
                    @include block_shadow_hover;
                }
            }
        }
    }
}