.partners {
    padding: 64px 0;
    &__slider {
        padding: 0 32px;
    }
    &__slide {
        padding: 0 16px;
        a {
            &:focus {
                outline: none;
            }
            img {
                width: 100%;
                max-width: 230px;
                margin: 0 auto;
            }
        }
    }
}