.prices {
    padding: 80px 0;
    &__text {
        margin-bottom: 16px;
        &:last-of-type {
            margin-bottom: 48px;
        span {
            font-weight: 600;
        }
        }
    }
    &__item {
        border: 2px solid $border;
        border-radius: 2px;
        padding: 32px;
    }
    &__icon {
        border: 2px solid $border;
        border-radius: 100%;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        i {
            font-size: 32px;
        }
    }
    &__name {
        font-family: 'Bebas Neue';
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 16px;
    }
    &__links {
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 8px;
        }
    }
}