.profit {
    padding: 64px 0;
    &__item {
        min-height: 612px;
        border: 2px solid $border;
        padding: 32px;
        margin-bottom: 32px;
    }
    &__img {
        display: block;
        width: 100%;
        max-width: 336px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    &__title {
        font-family: 'Bebas Neue';
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 8px;
    }
    &__descr {
        margin-bottom: 8px;
    }
    &__retail {
        margin-bottom: 8px;
    }
    &__our {
        margin-bottom: 8px;
        span {
            font-weight: bold;
        }
    }
    &__gain {
        color: $accent;
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
    }
}