.slick-slider {
    .slick-prev, .slick-next {
        border: none;
        padding: 0;
        background: none;
        color: $accent;
        font-size: 32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        &:hover {
            color: $accent_hover;
        }
        &:focus {
            outline: none;
        }
    }
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-slide {
        outline: none;
    }
}