.logo {
    font-size: 12px;
    font-weight: 600;
    background: linear-gradient(0deg, #68002B 27.27%, #DB0053 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    &__image {
        height: 40px;
    }
}