.input {
    &__field {
        padding: 14px 20px;
        border-radius: 8px;
        border: 2px solid $line;
        background: $white;
        font-size: 14px;
        height: 48px;
        transition: all .25s;
        &::placeholder {
            color: $text_grey;
        }
        &:hover {
            border-color: rgba($success, .5);
        }
        &:focus {
            border-color: $success;
            outline: none;
        }
        &_error {
            border-color: $error;
        }
        &_search {
            width: 100%;
        }
    }
    &__error {
        color: $error;
        font-size: 14px;
        margin-top: 8px;
    }
}