.nav {
    &-menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 18px;
        &__link {
            font-size: 14px;
            text-decoration: none;
            transition: all .25s;
            &:hover {
                color: $brand;
            }
        }
    }
    &-user {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 24px;
        &__link {
            font-size: 14px;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 6px;
        }
        &__wrapper {
            display: flex;
            align-items: center;
            position: relative;
        }
        &__counter {
            width: 22px;
            height: 22px;
            background: $brand;
            color: $white;
            font-size: 12px;
            font-weight: 700;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -6px;
            right: -6px;
            line-height: 0;
        }
        &-total {
            text-wrap: nowrap;
            font-size: 14px;
            margin-left: 8px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            &__sum {
                font-weight: 700;
            }
            &__weight {
                color: $text_grey;
            }
        }
    }
    &-categories {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__icon {
            width: 15px;
            height: 15px;
        }
        &__link {
            display: flex;
            align-items: center;
            gap: 6px;
            text-decoration: none;
            font-size: 14px;
            text-wrap: nowrap;
        }
    }
    &-catalog {
        &__flex {
            display: flex;
            justify-content: space-between;
        }
        &__categories {
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        &-menu {
            list-style-type: none;
        }
        &-category {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            padding: 8px 12px;
            &__text {
                font-family: 'Geologica';
                font-weight: 500;
                display: flex;
                align-items: baseline;
                gap: 8px;
                transition: all .25s;
            }
            &__count {
                color: $text_grey;
                font-size: 14px;
            }
            &:hover {
                .nav-catalog-category__text {
                    color: $brand;
                }
            }
        }
    }
    &-footer {
        display: flex;
        gap: 82px;
        &__title {
            font-size: 20px;
            font-weight: 700;
        }
        &__flex {
            display: flex;
            gap: 42px;
        }
        &__menu {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-top: 22px;
        }
        &__link {
            color: $text_secondary;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
        }
    }
}