.switcher {
	width: 158px;
	height: 48px;
	&__input {
		display: none;
		& + .switcher__label {
			height: 100%;
			width: 100%;
			& > .switcher__slider {
				cursor: pointer;
				width: 100%;
				height: 100%;
				position: relative;
				background-color: $background_grey_light;
				color: $text_primary;
				transition: all .25s;
				padding: 2px;
				border-radius: 8px;
                border: 1px solid $line;
                font-size: 14px;
                font-weight: 700;
				display: block;
				&:before {
					background-color: $success;
					color: $white;
					left: 2px;
					z-index: 10;
					content: attr(data-unchecked);
				}
				&:after {
					right: 0;
					content: attr(data-checked);
				}
			}
		}
		&:checked {
			& + .switcher__label {
				& > .switcher__slider {
					&:after {
						left: 0;
						content: attr(data-unchecked);
					}
					&:before {
						left: 50%;
						content: attr(data-checked);
					}
				}
			}
		}
	}
}

.switcher .switcher__input+.switcher__label>.switcher__slider:before,
.switcher .switcher__input+.switcher__label>.switcher__slider:after {
	border-radius: 6px;
	height: calc(100% - 4px);
	width: calc(50% - 2px);
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	transition: all .25s;
}